node_modules
.vercel
.astro
dist
.env
path.tree
public/video/output.mp4
public/video/BG-video.mp4
.cache
.DS_Store
public/.DS_Store
public/logo/.DS_Store
src/.DS_Store
src/shared/.DS_Store
.src.zip
theme/.DS_Store