:root {
    --c-glass: #bbbbbc;
    --c-light: #fff;
    --c-dark: #000;
    --c-content: #222233;
    --c-primary: #fc809f;
    --c-primary-hover: #fb4774;
    --t-duration: 0.3s;
    --t-ease-smooth: 0.3s ease;
    --r-base: 12px;
    --r-large: 24px;
    --r-round: 1000px;
    --op-back-hover: .3;
    --c-section-text: var(--c-primary);
    --glass-reflex-dark: 1;
    --glass-reflex-light: 1;
    --saturation: 150%;
    --bg-ig: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
    --glass-shadow: inset 0 0 0 1px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 10%), transparent),
        inset 1.8px 3px 0 -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 90%), transparent),
        inset -2px -2px 0 -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 80%), transparent),
        inset -3px -8px 1px -6px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 60%), transparent),
        inset -.3px -1px 4px 0 color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 12%), transparent),
        inset -1.5px 2.5px 0 -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent),
        inset 0 3px 4px -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent),
        inset 2px -6.5px 1px -4px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent), 0 1px 5px 0 color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent), 0 6px 16px 0 color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 8%), transparent);
}


html,
body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 'Outfit', 'Noto Sans Thai', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    flex-direction: column;
    min-height: 100dvh;
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important
}

section {
    padding: 80px var(--r-large);
    background-color: #fffcff
}

#home {
    padding: 0;
    height: 100lvh;
    background-color: #fff0
}

#event {
    min-height: 562px;
}

#info {
    padding: 0 var(--r-large);
    background-color: #fdf2f6
}

#library {
    background-color: #fdf2f6
}

.h-sec {
    color: var(--c-section-text) !important;
    font-weight: 700 !important
}

.t-center {
    text-align: center !important
}

.hero-video,
.video-bg {
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    z-index: -1
}

.ht-1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100lvh;
    width: 100%;
}

.ht-2 {
    color: var(--c-light);
    margin-bottom: 4rem;
    text-align: center;
    font-weight: 400 !important
}

.ht-2 strong {
    font-weight: 700 !important
}

.ht-2 h2,
.ht-2 p {
    margin: 0;
    font-weight: 400
}

.h-sec {
    margin-bottom: 1.5rem;
    text-align: center
}

.carded {
    background: #fff;
    border-radius: var(--r-base);
    overflow: hidden;
    position: relative;
    transition: all .4s cubic-bezier(.175, .885, 0, 1);
    box-shadow: 0 13px 10px -7px rgb(0 0 0 / .1)
}

.card__img,
.card__img--hover {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    aspect-ratio: 1/1;
    width: 100%;
}

.card__img {
    visibility: hidden
}

.card__img--hover {
    position: absolute;
    top: 0;
    transition: 0.2s all ease-out
}

.carded:hover .card__img--hover {
    height: 100.5%;
    opacity: .3;
    background-color: color-mix(in srgb, var(--c-glass) 36%, transparent);
    box-shadow: var(--glass-shadow);
}

.carded:hover .card__info {
    background: #fff0;
    position: relative
}

.da-col {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(289.25px, 1fr));
    gap: var(--r-large);
    justify-content: center;
    justify-items: center;
    color: var(--c-content)
}

.da-sp {
    padding: 1rem;
    display: flex;
    flex-direction: column
}

.ct-da {
    display: grid;
    grid-template-columns: var(--r-large) auto
}

.ct-da svg {
    fill: var(--c-content);
    width: 1.1rem
}

.ct-da p {
    margin: 0;
    font-size: .95rem;
    font-weight: 600;
    color: var(--c-content)
}

.da-sp .h5 {
    color: var(--c-content);
    font-weight: 800
}

.h-body {
    max-height: 720px;
    height: 100vh;
}

.br-i {
    font-size: 1.16rem;
    padding: 50px;
    border-radius: var(--r-large);
    /* ใช้ตัวแปร */
    background-color: #fffcff;
    box-shadow: var(--glass-shadow);
}

.br-i ul li a {
    color: var(--c-section-text);
    text-decoration: none
}

.br-i ul li a:hover {
    color: var(--c-primary-hover) !important;
    /* ใช้ตัวแปร */
    ;
    text-decoration: none
}

.pc {
    z-index: 1
}

.p-body {
    display: none;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
    max-width: none !important;
    box-shadow: 0 10px 20px rgb(0 0 0 / .1)
}

.bd-info.container {
    display: flex;
    align-items: center;
}

.ig-banner {
    padding: var(--r-large);
    background: var(--bg-ig);
    width: 100%;
    border-top-left-radius: var(--r-base);
    border-top-right-radius: var(--r-base);
    overflow: hidden;
    position: relative
}

.tiktok-banner {
    padding: var(--r-large);
    background: var(--c-dark);
    width: 100%;
    border-top-left-radius: var(--r-base);
    border-top-right-radius: var(--r-base);
    overflow: hidden
}

.ig-banner div,
.tiktok-banner div {
    margin: 0;
    color: var(--c-light)
}

.embed-row {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    padding: 15px 0;
    gap: 25px;
    overflow: hidden;
    display: flex
}

.embed {
    width: 50%;
    margin-bottom: 20px;
    background-color: var(--c-light);
    border-radius: var(--r-base)
}

.instagram-media {
    border-radius: 0 0 var(--r-base) var(--r-base) !important;
    display: block;
    width: 100%;
    max-height: 478px
}

.embed-ig,
.embed-tiktok {
    width: 100%
}

.embed-ig iframe {
    min-width: 0 !important
}

.arrow-svg {
    transform: rotate(-45deg);
    height: 1em;
    vertical-align: -.125em
}

.icon-svg {
    height: 1em;
    vertical-align: -.125em;
    fill: var(--c-light);
    transition: all var(--t-ease-smooth)
        /* ใช้ตัวแปร */
}

.icon-svg.back,
.svg-inline--fa.back {
    position: absolute;
    opacity: 0;
    z-index: 0
}

.icon-svg.front,
.svg-inline--fa.front {
    position: relative;
    z-index: 1
}

.ig-banner:hover,
.tiktok-banner:hover {
    opacity: .9;
    transition: var(--t-ease-smooth)
        /* ใช้ตัวแปร */
}

/* -------------------------------------
 * SOCIAL ICON HOVER (OPTIMIZED GROUP)
 * ------------------------------------- */

.social-box:hover .svg-inline--fa.back,
.social-box:hover .fa-iam48.back,
.social-box:hover .fa-iam48.back.live,
.ig-banner:hover .icon-svg.back,
.tiktok-banner:hover .icon-svg.back {
    opacity: var(--op-back-hover);
    /* ใช้ตัวแปร */
    transition: var(--t-ease-smooth);
    /* ใช้ตัวแปร */
}

/* Transform Rules (แยกมาเพื่อให้โค้ดสั้นลง) */
.social-box:hover .svg-inline--fa.back {
    transform: scale(2) rotate(15deg) translateX(9.5rem) translateY(-1.9rem);
}

.social-box:hover .fa-iam48.back {
    transform: scale(2) rotate(30deg) translateX(8.5rem) translateY(-3.7rem);
}

.ig-banner:hover .icon-svg.back,
.tiktok-banner:hover .icon-svg.back {
    transform: scale(5.6) rotate(15deg) translateX(5.5rem) translateY(-.8rem);
}

.social-box:hover .fa-iam48.back.live {
    transform: scale(2) rotate(30deg) translateX(14.5rem) translateY(-7.4rem);
}

@media (max-width:1400px) {

    .ig-banner:hover .icon-svg.back,
    .tiktok-banner:hover .icon-svg.back {
        transform: scale(5.6) rotate(15deg) translateX(4.5rem) translateY(-.7rem)
    }

    .social-box:hover .svg-inline--fa.back {
        transform: scale(2) rotate(15deg) translateX(8.5rem) translateY(-1.7rem)
    }

    .social-box:hover .fa-iam48.back {
        transform: scale(2) rotate(30deg) translateX(7.5rem) translateY(-3.4rem)
    }

    .social-box:hover .fa-iam48.back.live {
        transform: scale(2) rotate(30deg) translateX(12.5rem) translateY(-6.4rem)
    }
}

.social-box.-instagram {
    --bg: linear-gradient(45deg, rgba(240, 148, 51, .15) 0%, rgba(230, 104, 60, .15) 25%, rgba(220, 39, 67, .15) 50%, rgba(204, 35, 102, .15) 75%, rgba(188, 24, 136, .15) 100%);
    --text: #dc2743;
    --bg-hover: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    --text-hover: #fff;
}

.social-box.-facebook {
    --bg: #1877f226;
    --text: #1877F2;
    --bg-hover: #1877F2;
    --text-hover: #fff
}

.social-box.-iam48 {
    --bg: linear-gradient(45deg, rgba(203, 150, 194, .15) 0%, rgba(104, 190, 177, .15) 100%);
    --text: rgb(203, 150, 194);
    --bg-hover: linear-gradient(45deg, rgba(203, 150, 194) 0%, rgba(104, 190, 177) 100%);
    --text-hover: #fff
}

.social-box.-tiktok,
.social-box.-twitter {
    --bg: #ebebeb;
    --text: #000;
    --bg-hover: #000;
    --text-hover: #fff
}

.social-box.-youtube {
    --bg: #FF000026;
    --text: #FF0000;
    --bg-hover: #FF0000;
    --text-hover: #fff
}

.social-box.-line {
    --bg: linear-gradient(45deg, rgba(0, 211, 200, .15) 0%, rgba(0, 208, 173, .15) 14.28%, rgba(0, 204, 137, .15) 28.56%, rgba(0, 200, 107, .15) 42.84%, rgba(0, 197, 83, .15) 57.12%, rgba(0, 195, 67, .15) 71.4%, rgba(0, 194, 57, .15) 85.68%, rgba(0, 194, 54, .15) 99.96%);
    --text: rgb(3, 104, 114);
    --bg-hover: linear-gradient(45deg, rgba(0, 211, 200, 1) 0%, rgba(0, 208, 173, 1) 14.28%, rgba(0, 204, 137, 1) 28.56%, rgba(0, 200, 107, 1) 42.84%, rgba(0, 197, 83, 1) 57.12%, rgba(0, 195, 67, 1) 71.4%, rgba(0, 194, 57, 1) 85.68%, rgba(0, 194, 54, 1) 99.96%);
    --text-hover: #fff
}

.social-box {
    --bg: #f6f7fa;
    --text: #000;
    --bg-hover: #000;
    --text-hover: #fff;
    padding: 15px 20px;
    border-radius: var(--r-round);
    /* ใช้ตัวแปร */
    background: var(--bg);
    color: var(--text);
    fill: var(--text);
    font-size: 1.125rem;
    display: flex;
    gap: 15px;
    align-items: center;
    font-weight: 700;
    margin-bottom: 1rem;
    transition: var(--t-duration);
    /* ใช้ตัวแปร */
    position: relative;
    overflow: hidden
}

.social-box:hover {
    background: var(--bg-hover);
    color: var(--text-hover);
    fill: var(--text-hover);
    text-decoration: none;

    .icon-tiktok {
        fill: var(--text-hover);
        transition: var(--t-duration)
            /* ใช้ตัวแปร */
    }
}

a:hover {
    color: var(--w-accent-hover);
    text-decoration: underline
}

.social-box svg {
    width: 48px;
    height: 48px;
}

.svg-inline--fa {
    box-sizing: content-box;
    display: var(--fa-display, inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
    width: var(--fa-width, 1.25em)
}

.social-box.-iam48 svg path {
    fill: var(--text);
    transition: var(--t-duration)
        /* ใช้ตัวแปร */
}

.social-box.-iam48:hover svg path {
    fill: var(--text-hover)
}

.social-margin {
    margin-bottom: 0 !important
}

.b-ce {
    margin: auto
}

.embed-tiktok .tiktok-embed {
    margin: 0 !important;
}

.youtube-block {
    border-radius: var(--r-base);
    /* ใช้ตัวแปร */
    overflow: hidden;
    background-color: #fff
}

.fw-700 {
    font-weight: 700 !important
}

.bnk48-color {
    fill: #cb96c2 !important;
    color: #cb96c2 !important
}

.slide-right {
    opacity: 0;
    transform: translateX(100px);
    transition: var(--t-ease-smooth)
        /* ใช้ตัวแปร */
}

.slide-right.show {
    opacity: 1;
    transform: translateX(0)
}

.fade-in {
    opacity: 0;
    transform: translateX(0px);
    transition: var(--t-ease-smooth)
        /* ใช้ตัวแปร */
}

.fade-in.show {
    opacity: 1;
    transform: translateX(0)
}

.fc-bt {
    padding: 15px;
    background: var(--c-primary);
    /* ใช้ตัวแปร */
    color: var(--bs-body-bg);
    width: 100%;
    border-radius: 100px
}

.fc-bt:hover {
    background-color: var(--c-primary-hover) !important;
    /* ใช้ตัวแปร */
    ;
    transition: var(--t-ease-smooth)
        /* ใช้ตัวแปร */
}

.slide-left img {
    border-radius: var(--r-base)
        /* ใช้ตัวแปร */
}

.fc-bt a {
    color: var(--bs-body-bg)
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #f191ac, #0000 40% 100%);
}

#popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / .5);
    justify-content: center;
    align-items: center
}

#popup-overlay.active {
    display: flex;
}

.popup-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    background: #fff;
    border-radius: var(--r-large);
    /* ใช้ตัวแปร */
    padding: 50px;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.3s
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.popup-close {
    position: absolute;
    top: 25px;
    right: 25px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform var(--t-ease-smooth)
        /* ใช้ตัวแปร */
}

.popup-close:hover {
    transform: rotate(90deg)
}

.btn {
    --bs-btn-border-radius: var(--r-round) !important;
    /* ใช้ตัวแปร */
}

.btn-primary,
a {
    --bs-btn-color: #fff !important;
    --bs-btn-bg: var(--c-primary) !important;
    /* ใช้ตัวแปร */
    --bs-btn-border-color: var(--c-primary) !important;
    /* ใช้ตัวแปร */
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: var(--c-primary-hover) !important;
    /* ใช้ตัวแปร */
    --bs-btn-hover-border-color: #fa3164 !important;
    --bs-btn-focus-shadow-rgb: 252, 128, 159 !important;
    --bs-btn-active-color: #fff !important;
    --bs-btn-active-bg: #fa3164 !important;
    --bs-btn-active-border-color: #f91c53 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: #fff !important;
    --bs-btn-disabled-bg: var(--c-primary) !important;
    /* ใช้ตัวแปร */
    --bs-btn-disabled-border-color: var(--c-primary) !important;
    /* ใช้ตัวแปร */
}

@media (max-width:1200px) {
    .col-lg-6 {
        width: 100% !important
    }

    #info {
        padding: 80px 20px
    }

    .bd-info.container {
        flex-direction: column;
        margin: 0 auto;
        border-radius: var(--r-base);
        /* ใช้ตัวแปร */
        text-align: center
    }

    .container {
        max-width: 720px !important
    }

    .h-body {
        display: none;
    }

    .br-i {
        padding: 90px 25px 50px !important;
        margin-top: -75px
    }

    .p-body {
        display: block !important;
    }

    .embed-row {
        flex-direction: column
    }

    .embed,
    .col-lg-4 {
        width: 100% !important
    }

    .social-box:hover .svg-inline--fa.back {
        transform: scale(2) rotate(15deg) translateX(17rem) translateY(-3.9rem)
    }

    .social-box:hover .fa-iam48.back {
        transform: scale(2) rotate(30deg) translateX(16rem) translateY(-8.3rem)
    }

    .ig-banner:hover .icon-svg.back,
    .tiktok-banner:hover .icon-svg.back {
        transform: scale(5.6) rotate(15deg) translateX(6rem) translateY(-1.1rem)
    }

    .social-box:hover .fa-iam48.back.live {
        transform: scale(2) rotate(30deg) translateX(16rem) translateY(-8.3rem)
    }

    .col-custom-3 {
        width: 100% !important
    }

    .b-ce {
        width: 100% !important
    }

    .fc-tt {
        font-size: 100%;
        width: 100%
    }

    .fc-ac {
        display: flex;
        flex-direction: column
    }

    .popup-container {
        max-width: 100%;
        height: 100%;
        background: #fff;
        padding: 150px 50px 50px;
        border-radius: 0;
        overflow-x: scroll
    }

    .popup-close {
        top: 100px
    }
}

.collaboration {
    text-align: center;
    padding: var(--r-base) var(--r-large);
    /* ใช้ตัวแปร */
    font-size: 12px;
    background-color: #f8fafc;
    color: #94a3b8
}

.footer-bottom {
    padding: 15px 0;
    background-color: #ffe4e6;
    color: #665b5c
}

.container,
.container-fluid {
    --bs-gutter-x: 3rem
}

.ft-license {
    font-size: 10px
}

.text-nowrap a {
    text-decoration: none;
    color: #94a3b8
}

.switcher {
    position: fixed;
    margin: auto;
    top: 20px;
    left: 50%;
    translate: -50% 0;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 14px 10px 12px;
    border: none;
    border-radius: 999px;
    background-color: color-mix(in srgb, var(--c-glass) 12%, transparent);
    box-shadow: inset 0 0 0 1px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 10%), transparent), inset 1.8px 3px 0 -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 90%), transparent), inset -2px -2px 0 -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 80%), transparent), inset -3px -8px 1px -6px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 60%), transparent), inset -.3px -1px 4px 0 color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 12%), transparent), inset -1.5px 2.5px 0 -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent), inset 0 3px 4px -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent), inset 2px -6.5px 1px -4px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent), 0 1px 5px 0 color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent), 0 6px 16px 0 color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 8%), transparent);
    box-sizing: border-box
}

.switcher__track {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px
}

.switcher__indicator {
    position: absolute;
    left: -8px;
    top: -4px;
    width: 84px;
    border-radius: 999px;
    background-color: color-mix(in srgb, var(--c-glass) 36%, transparent);
    box-shadow: var(--glass-shadow);
    transition: transform 420ms cubic-bezier(1, 0, .4, 1), width 420ms cubic-bezier(1, 0, .4, 1), background-color 400ms cubic-bezier(1, 0, .4, 1), box-shadow 400ms cubic-bezier(1, 0, .4, 1);
    pointer-events: none;
    z-index: 0
}

.switcher__option {
    --c: var(--c-content);
    position: relative;
    z-index: 1;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 0 var(--r-base);
    width: auto;
    height: 100%;
    min-height: 50px;
    border-radius: 999px;
    box-sizing: border-box;
    cursor: pointer;
    transition: color 160ms;
    user-select: none;
    display: flex
}

.switcher__input {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap
}

.switcher__icon {
    display: block;
    width: 36px;
    transition: scale 200ms cubic-bezier(.5, 0, 0, 1)
}

.switcher__option:has(.switcher__input:checked) .switcher__icon {
    transform: scale(1)
}

._src_GlassElement_GlassElement_module__box {
    box-shadow: inset 0 0 4px 0 #fff;
    cursor: pointer
}

#upcoming-events-section {
    padding: 0;
}

input {
    width: 100%;
    margin-bottom: 1rem;
}

.POST {
    padding: 80px 0;
}