:root {
    --c-glass: #bbbbbc;
    --c-light: #fff;
    --c-dark: #000;
    --c-content: #222233;
    --c-primary: #fc809f;
    --c-primary-hover: #fb4774;
    --t-duration: 0.3s;
    --t-ease-smooth: 0.3s ease;
    --r-base: 12px;
    --r-large: 24px;
    --r-round: 1000px;
    --op-back-hover: .3;    
    --c-section-text: var(--c-primary);
    --glass-reflex-dark: 1;
    --glass-reflex-light: 1;
    --saturation: 150%;
    --bg-ig: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7)
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Outfit', 'Noto Sans Thai', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    flex-direction: column;
    min-height: 100dvh;
    scroll-behavior: smooth;
    background-color: var(--c-light);
}

a {
    text-decoration: none !important
}

.h-sec {
    color: var(--c-section-text) !important;
    font-weight: 700 !important
}

.switcher {
    position: fixed;
    margin: auto;
    top: 20px;
    left: 50%;
    translate: -50% 0;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 14px 10px 12px;
    border: none;
    border-radius: 999px;
    background-color: color-mix(in srgb, var(--c-glass) 12%, transparent);
    box-shadow: inset 0 0 0 1px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 10%), transparent), inset 1.8px 3px 0 -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 90%), transparent), inset -2px -2px 0 -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 80%), transparent), inset -3px -8px 1px -6px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 60%), transparent), inset -.3px -1px 4px 0 color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 12%), transparent), inset -1.5px 2.5px 0 -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent), inset 0 3px 4px -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent), inset 2px -6.5px 1px -4px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent), 0 1px 5px 0 color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent), 0 6px 16px 0 color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 8%), transparent);
    box-sizing: border-box
}

.switcher__track {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px
}

.switcher__indicator {
    position: absolute;
    left: -8px;
    top: -4px;
    width: 84px;
    border-radius: 999px;
    background-color: color-mix(in srgb, var(--c-glass) 36%, transparent);
    box-shadow: inset 0 0 0 1px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 10%), transparent), inset 2px 1px 0 -1px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 90%), transparent), inset -1.5px -1px 0 -1px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 80%), transparent), inset -2px -6px 1px -5px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 60%), transparent), inset -1px 2px 3px -1px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent), inset 0 -4px 1px -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent), 0 3px 6px 0 color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 8%), transparent);
    transition: transform 420ms cubic-bezier(1, 0, .4, 1), width 420ms cubic-bezier(1, 0, .4, 1), background-color 400ms cubic-bezier(1, 0, .4, 1), box-shadow 400ms cubic-bezier(1, 0, .4, 1);
    pointer-events: none;
    z-index: 0
}

.switcher__option {
    --c: var(--c-content);
    position: relative;
    z-index: 1;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 0 var(--r-base);
    width: auto;
    height: 100%;
    min-height: 50px;
    border-radius: 999px;
    box-sizing: border-box;
    cursor: pointer;
    transition: color 160ms;
    user-select: none;
    display: flex
}

.switcher__input {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap
}

.switcher__icon {
    display: block;
    width: 36px;
    transition: scale 200ms cubic-bezier(.5, 0, 0, 1)
}

.switcher__option:has(.switcher__input:checked) .switcher__icon {
    transform: scale(1)
}

._src_GlassElement_GlassElement_module__box {
    box-shadow: inset 0 0 4px 0 #fff;
    cursor: pointer
}

.collaboration {
    text-align: center;
    padding: var(--r-base) var(--r-large);
    font-size: 12px;
    background-color: #f8fafc;
    color: #94a3b8
}

.footer-bottom {
    padding: 15px 0;
    background-color: #ffe4e6;
    color: #665b5c
}

.ft-license {
    font-size: 10px
}

.text-nowrap a {
    text-decoration: none;
    color: #94a3b8
}

#upcoming-events-container, #past-events-container{
    padding: 24px 0;
}
/* สไตล์ Event Card หลัก (สำหรับ Upcoming/Ongoing - ใช้ main.css) */

.event-past .carded {
    display: grid;
    background-color: var(--c-light);
    border-radius: var(--r-base);
    grid-template-columns: 80px auto;
    transition: all .4s cubic-bezier(.175, .885, 0, 1);
    box-shadow: 0 13px 10px -7px rgb(0 0 0 / 0);
}

.event-past .carded:hover {
    text-decoration: underline;
    color: var(--c-primary);
}

.event-past .card__img,
.event-past .card__img--hover {
    aspect-ratio: 1/1;
    background-position: top;
    height: 80px;
    border-radius: 5px;
}

.event-past .card_link {
    display: none;
}

.event-past .card__info .card_link {
    display: block;
}

.event-past .card__img {
    visibility: unset;
}

.event-past .da-sp {
    padding: 0 1rem;
}

.event-past .ct-da p {
    margin: 0;
    font-size: .75rem;
    color: var(--c-content);
}

.event-past .da-sp .h5 {
    font-size: .95rem;
    color: var(--c-content);
    font-weight: 800;
}


main.page-main {
    padding: 24px;
    margin-top: 108px;
}

.carded {
    width: 100%;
    background: #fff;
    border-radius: var(--r-base);
    overflow: hidden;
    position: relative;
    transition: all .4s cubic-bezier(.175, .885, 0, 1);
    
}

.card__img,
.card__img--hover {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: var(--r-base) var(--r-base) 0 0;
    transition: 0.2s all ease-out;
}

.card__img {
    visibility: hidden;
    transition: 0.2s all ease-out;
}

.card__img--hover {
    position: absolute;
    top: 0;
    transition: transform .4s cubic-bezier(.175, .885, .32, 1), opacity .3s;
}

.carded:hover .card__img--hover {
    height: 100%;
    opacity: .3;
    background-color: color-mix(in srgb, var(--c-glass) 36%, transparent);
}

.carded:hover .card__info {
    background: #fff0;
    position: relative;
    transition: 0.2s all ease-out;
}

.da-col {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(289.25px, 1fr));
    gap: var(--r-large);
    justify-content: center;
    justify-items: center;
    color: var(--c-content)
}

.da-sp {
    padding: 1rem;
    display: flex;
    flex-direction: column
}

.ct-da {
    display: grid;
    grid-template-columns: var(--r-large) auto
}

.ct-da svg {
    fill: var(--c-content);
    width: 1.1rem
}

.ct-da p {
    margin: 0;
    font-size: .95rem;
    font-weight: 600;
    color: var(--c-content)
}

.da-sp .h5 {
    font-size: 1.05rem;
    color: var(--c-content);
    font-weight: 800
}

.h-body {
    max-height: 720px;
    height: 100vh;
}

.br-i {
    font-size: 1.16rem;
    padding: 50px;
    border-radius: var(--r-large); /* ใช้ตัวแปร */
    background-color: #fffcff;
    box-shadow: inset 0 0 0 1px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 10%), transparent), inset 1.8px 3px 0 -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 90%), transparent), inset -2px -2px 0 -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 80%), transparent), inset -3px -8px 1px -6px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 60%), transparent), inset -.3px -1px 4px 0 color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 12%), transparent), inset -1.5px 2.5px 0 -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent), inset 0 3px 4px -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent), inset 2px -6.5px 1px -4px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent), 0 1px 5px 0 color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent), 0 6px 16px 0 color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 8%), transparent)
}

.br-i ul li a {
    color: var(--c-section-text);
    text-decoration: none
}

.br-i ul li a:hover {
    color: var(--c-primary-hover) !important; /* ใช้ตัวแปร */
    ;
    text-decoration: none
}

.pc {
    z-index: 1
}

.p-body {
    display: none;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
    max-width: none !important;
    box-shadow: 0 10px 20px rgb(0 0 0 / .1)
}

.bd-info.container {
    display: flex;
    align-items: center;
}

.br-i ul li {
    text-align: start
}

.event-past div article{
    width: 100%;
    max-width: 100%;
}

.event-past .carded:hover {
    text-decoration: underline;
    color: var(--c-primary);
}

.btn {
    --bs-btn-border-radius: var(--r-round) !important; /* ใช้ตัวแปร */
}

.btn-primary,
a {
    --bs-btn-color: #fff !important;
    --bs-btn-bg: var(--c-primary) !important; /* ใช้ตัวแปร */
    --bs-btn-border-color: var(--c-primary) !important; /* ใช้ตัวแปร */
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: var(--c-primary-hover) !important; /* ใช้ตัวแปร */
    --bs-btn-hover-border-color: #fa3164 !important;
    --bs-btn-focus-shadow-rgb: 252, 128, 159 !important;
    --bs-btn-active-color: #fff !important;
    --bs-btn-active-bg: #fa3164 !important;
    --bs-btn-active-border-color: #f91c53 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: #fff !important;
    --bs-btn-disabled-bg: var(--c-primary) !important; /* ใช้ตัวแปร */
    --bs-btn-disabled-border-color: var(--c-primary) !important; /* ใช้ตัวแปร */
}

.arrow-svg {
    transform: rotate(-45deg);
    height: 1em;
    vertical-align: -.125em
}