@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Noto+Sans+Thai:wght@100..900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Cal Sans', 'Noto Sans Thai', sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    flex-direction: column;
    min-height: 100dvh;
    scroll-behavior: smooth;

    --w-accent: #4096e1;
    --w-accent-hover: #1d4c74;
    --w-bg-light: #ccd8ce;
    --w-box-shadow: none;
    --bs-body-color: #29546e;
    --bs-body-bg: #ccd8ce;
}


h1, h2, h3, h4, h5 ,h6{
    font-family: 'Cal Sans';    
}

.herosec {
    position: relative;
    overflow: hidden;
}

.video-bg {
    position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      object-fit: cover;
      z-index: -1;
}

.info {
    position: relative;
    z-index: 1;
    color: white;
}


p{
    font-family: 'Noto Sans Thai';
    color: #475569;
    margin: 0;
}

.body, .herosec, .info, .bg-info, .wi-s, .info-container,.latext, ul.social, ul.social li a,.st-l, .past, .rowpicinfo, .frame-video, .gap-video, .box-img, .text, .hd-li, .rv, .social-head, .botton, .fan-sigh svg, .fan-sigh {
    display: flex; 
}

.bg-info, .info-container, .rowpicinfo, .wi-dis, .head-embed, .collum-social, .all-botton, .collum-social{
    max-width: 1280px;
}

.herosec {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    align-items: flex-end; /* ขยับลง */
    text-align: center;
    padding: 0 50px 80px; /* padding-bottom 80px */
    color: white;
    position: relative;
}

.herosec::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 50%);
    z-index: 0;
}
